container_commands:
  00_remove_stray_db:
    command: |
      # remove any stray db in the project root
      rm -f /var/app/current/db.sqlite3 || true
    leader_only: true

  01_create_data_dir:
    command: |
      sudo mkdir -p /var/app/data
      sudo chown -R webapp:webapp /var/app/data
      sudo chmod 775 /var/app/data
    leader_only: true

  02_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      # Set the env var for persistent DB
      export SQLITE_PATH=/var/app/data/db.sqlite3
      python manage.py migrate --noinput
    leader_only: true

  03_seed_polls:
  command: |
    source /var/app/venv/*/bin/activate
    cd /var/app/current
    export SQLITE_PATH=/var/app/data/db.sqlite3
    python seed_polls.py
  leader_only: true

